@page "/"
@using EDScenicRouteWeb.Client.Services
@inject AppState state
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage

<h1>Scenic Route Finder</h1>
<div id="scenic-routes-area">

    <RouteEntry OnSearch=@state.GetSuggestions State=@state />


</div>
<div id="suggestions-area">
    <div class="row">
        <ScenicResults CurrentlySearching=@state.CurrentlySearching
                       StraightLineDistance=@state.StraightLineDistanceOfTrip
                       ScenicSuggestions=@state.Suggestions
                       ErrorMessage=@state.ErrorMessage
                       ShipJumpRange=@state.ShipJumpRange
                       MaxExtraDistance=@state.AcceptableExtraDistance
                       SearchCompleted=@state.SearchCompleted />
    </div>

</div>

@functions
{

    protected override void OnInit()
    {
        state.OnChanged += StateHasChanged;
        state.Storage = Storage;
    }

}

