@page "/"
@using EDScenicRouteWeb.Client.Services
@inject AppState state
    <h1>Hello, galaxy!</h1>

    Welcome to your new app.
    <div id="scenic-routes-area">
        <RouteEntry OnSearch=state.GetSuggestions />
    </div>
<div id="suggestions-area">
    <ScenicResults StraightLineDistance=state.StraightLineDistanceOfTrip ScenicSuggestions=state.Suggestions />
</div>

<p>Stuff distance: @state.StraightLineDistanceOfTrip</p>

@functions
    {

        protected override void OnInit()
        {
            state.OnChanged += StateHasChanged;
        }

    }

