@using System
@using System.Threading.Tasks
@using EDScenicRouteCoreModels

@page "/routeentry"


<h1>Scenic Route Suggester</h1>

<p>Enter trip details below.</p>

<input @bind(details.FromSystemName) placeholder="From" />
<input @bind(details.ToSystemName) placeholder="To" />
<input @bind(AcceptableExtraDistance) placeholder="Acceptable Extra Ly" />
<button @onclick(() => OnSearch(details))>Search for POIs to visit</button>


@functions {


    public Func<RouteDetails, Task> OnSearch { get; set; }

    private readonly RouteDetails details = new RouteDetails();

    private string AcceptableExtraDistance
    {
        get { return details.AcceptableExtraDistance.ToString(); }
        set
        {
            if (float.TryParse(value, out var result))
            {
                details.AcceptableExtraDistance = result;
            }
        }
    }

}
