@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using EDScenicRouteCoreModels


    <div class="col-sm-12">

        @if (CurrentlySearching)
        {
            <div class="alert alert-warning">Searching...</div>
        }
        else
        {
            if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger">@(ErrorMessage)</div>
            } else if (ScenicSuggestions.Count > 0)
            {
                <div class="panel">
                    <div class="panel-body panel-info">
                        Straight line distance of your trip: @(StraightLineDistance)Ly
                    </div>
                </div>
                <div class="alert alert-success">Consider visiting...</div>
         
            }
            else
            {
                <div class="alert alert-info">No suggestions.</div>
            }
        }

        @foreach (var item in ScenicSuggestions)
        {
            <ScenicSuggestionView Item=@item ShipJumpRange=@ShipJumpRange/>
        }
        
    </div>
    
@functions {

    public bool CurrentlySearching { get; set; }

    public string ErrorMessage { get; set; }

    public string DebugStuff { get; set; }

    public float StraightLineDistance { get; set; }

    public float ShipJumpRange { get; set; }

    public IReadOnlyList<ScenicSuggestion> ScenicSuggestions { get; set; }

}
