@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using EDScenicRouteCoreModels

@page "/scenicresults"

<h1>@DebugStuff</h1>

@if (ScenicSuggestions.Count > 0)
{
    <p>Have we got suggestions for you!</p>
}
else
{
    <p>Suggestions will appear here.</p>
}

<p>Enter trip details below.</p>

<p>Straight line distance: @StraightLineDistance Ly</p>
<ul>
@foreach (var item in ScenicSuggestions)
{
    <li>@item.POI.Name, @item.ExtraDistance Ly extra</li>
}
</ul>
    
@functions {

    public string DebugStuff { get; set; }

    public float StraightLineDistance
    {
        get => _straightLineDistance;
        set
        {
            _straightLineDistance = value;
            StateHasChanged();
        }
    }

    public IReadOnlyList<ScenicSuggestion> ScenicSuggestions
    {
        get => _scenicSuggestions;
        set
        {

            _scenicSuggestions = value;
            StateHasChanged();
        }
    }

    private float _straightLineDistance;
    private IReadOnlyList<ScenicSuggestion> _scenicSuggestions = new List<ScenicSuggestion>();
}
