@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using EDScenicRouteCoreModels

@if (CurrentlySearching)
{
    <div class="alert-warning"><h2>Searching...</h2></div>
}
else
{
    if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert-danger"><h3>@(ErrorMessage)</h3></div>
    } else if (ScenicSuggestions.Count > 0)
    {
         <p>Straight line distance of your trip: @(StraightLineDistance)Ly</p>
         <div class="alert-success"><h2>Consider visiting...</h2></div>
         
     }
     else
     {
         <div class="alert">No suggestions.</div>
     }
}

@foreach (var item in ScenicSuggestions)
{
    <ScenicSuggestionView Item=@item />
}

    
@functions {

    public bool CurrentlySearching { get; set; }

    public string ErrorMessage { get; set; }

    public string DebugStuff { get; set; }

    public float StraightLineDistance { get;set; }

    public IReadOnlyList<ScenicSuggestion> ScenicSuggestions { get; set; }

}
